@model MoneyApp.Models.Staff

@{
    ViewData["Title"] = "Details";
}

    <div class="col-md-10 mx-auto py-4 container-fluid">
        <div class="card">
            <div class="card-header bg-secondary text-uppercase text-white">
                <h4>Employee Details</h4>
            </div>
            <div class="card-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            <img src="~/images/@Model.ProfilePicture"
                                 class="rounded-circle"
                                 height="150" width="150"
                                 asp-append-version="true" />
                        </dt>
                        <dd class="col-sm-10">

                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DOB)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LocalGovt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LocalGovt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Town)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Town)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.State)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.State)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Position)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Position)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Salary)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Salary)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Loan)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Loan)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Debt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Debt)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" class="btn btn-sm btn-secondary rounded-0 text-uppercase" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-sm btn-secondary rounded-0 text-uppercase"><i class="fa fa-fast-backward"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>


