@model MoneyApp.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsWithdrawal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsWithdrawal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCharge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCharge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
